@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Departure";
    font-weight: 400;
    src: url("/fonts/DepartureMono-Regular.woff2"),
      url("/fonts/DepartureMono-Regular.woff"),
      url("/fonts/DepartureMono-Regular.otf");
  }
}

.toast {
  font-family: "Departure";
  font-weight: 400;
}

:root {
  font-family: "Departure", sans-serif;
}

input::file-selector-button {
  font-size: 0.75rem !important;
}
